@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@halvaradop/tailwindcss-utilities";

@theme {
    --foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.97 0 0);
    --color-primary-foreground: oklch(0.6 0.01 286.11);
    --color-border: oklch(0.26 0 0);
    --breakpoint-base: 56.25rem;
}

@theme inline {
    --animate-meteor: meteor 5s linear infinite;
    --animate-ripple: ripple var(--duration, 2s) ease calc(var(--i, 0) * 0.2s) infinite;

    @keyframes ripple {
        0%,
        100% {
            transform: translate(-50%, -50%) scale(1);
        }
        50% {
            transform: translate(-50%, -50%) scale(0.9);
        }
    }

    @keyframes meteor {
        0% {
            transform: rotate(var(--angle)) translateX(0);
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            transform: rotate(var(--angle)) translateX(-500px);
            opacity: 0;
        }
    }
}
