@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@halvaradop/tailwindcss-utilities";

@theme {
    --color-border: oklch(26.9% 0 0);
    --breakpoint-base: 56.25rem;
}
