@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "@halvaradop/tailwindcss-utilities";

@theme {
    --foreground: oklch(0.985 0 0);
    --color-primary: oklch(0.97 0 0);
    --color-primary-foreground: oklch(0.6 0.01 286.11);
    --color-border: color-mix(in oklab, var(--color-white) 20%, transparent);
    --breakpoint-base: 56.25rem;
    --color-background: #000000;
    --color-muted-foreground: color-mix(in oklab, var(--color-white) 60%, transparent);
    --breakpoint-xs: 540px;
}
